* {
    padding: 0;
    margin: 0;
}

header button {
    display: none;
}

main {
    text-align: center;
}

form {
    line-height: 1.2;
    text-align: left;
    margin-bottom: 2em;
}

form ul {
    margin: 0;
}

form li {
    margin: 0;
}

fieldset {
    margin: 2em auto;
    padding: 0.5em 1em 1em;
    background-color: rgba(224, 253, 224, 0.5);
    border: dashed 2px #5f8c56;
    border-radius: 15px 15px 15px 15px;
}

fieldset:last-of-type {
    margin-bottom: 1em;
}

legend {
    color: #765f6f;
    font-family: 'Elido Initials', sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.07em;
    font-variant: small-caps;
}

label {
    font-size: 1em;
}

input, select {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1em;
}

h5 {
    font-size: 1.8em;
    font-weight: 500;
}
#apply h5 {    
    max-width: 875px;
}

form p {
    margin: 0;
}

ul {
    list-style-type: none;
}

button {
    color: #d6e5e0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    background-color: #765f6f;
    font-variant: small-caps;
    margin: 0 auto;
    padding: 0.25em 1em;
    border-radius: 10px 10px 10px 10px;
    display: block;
    box-shadow: -5px 5px 10px 0px rgba(210, 199, 65, 0.5), 
                5px -5px 10px 0px rgba(210, 199, 65, 0.5);
}

.question {
    margin-bottom: 1.5em;
}

select[multiple], textarea {
    display: block;
}

.qtitle ~ ul {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: dotted 2px #5f8c56;
}

label + select, label + textarea {
    margin-left: 1rem;
}

span.inputreq {
    color: #cc525a;
    font-weight: bolder;
    text-decoration-line: underline;
}

/* Contact Styles */
fieldset.contact input {
    width: 100%;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact ul * {
    flex-basis: 100%;
}

.contact ul .city {
    flex-basis: 55%;
}

.contact ul .state {
    flex-basis: 40%;
}

/* Form Validation Styles */
input[required]:valid:not(:placeholder-shown) {
    background-color: #eefce3;
    border: solid 2px #add98b;
}

input:invalid:not(:placeholder-shown), input[required]:invalid:not(:placeholder-shown) {
    background-color: #ffe0e0;
    border: solid 2px #e07b7b;
}

form.submitted select[required]:invalid, form.submitted input:invalid, form.submitted input[required]:invalid, form.submitted input[required]:invalid + label {
  background-color: #ffe0e0;
  border: solid 2px #e07b7b;
}

/* BIG SCREEN */
@media screen and (min-width:975px) { 

    main {
        max-width: 980px;
    }
    
    main * + * {
        margin-top: 0;
    }
    
    .s1.apply {
        display: block;
    }
    
    form {
        display: grid;
        grid-gap: 1em 2em;
        grid-template-areas: 
            "cont cont"
            "hh pp"
            "br br"
            "butt butt"
            ;
    }
    
    fieldset {
        margin: 0;
        padding: 1em 2em;
    }
    
    fieldset.contact {
        grid-area: cont;
    }
    
    fieldset.household {
        grid-area: hh;
    }
    
    fieldset.puppyprefs {
        grid-area: pp;
    }
    
    fieldset.buyready {
        grid-area: br;
    }
    
    button {
        grid-area: butt;
    }
    
    fieldset.contact ul {
        display: grid;
        grid-gap: 0 2em;
        grid-template-areas: 
            "name name email email"
            "add add phone phone"
            "city state job job" ;
    }
    
    .name {
        grid-area: name;
    }
    
    .email {
        grid-area: email;
    }
    
    .phone {
        grid-area: phone;
    }
    
    .address {
        grid-area: add;
    }
    
    .city {
        grid-area: city;
    }
    
    .state {
        grid-area: state;
    }
    
    .job {
        grid-area: job;
    }
    
    .pets ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    .pets ul li {
        min-width: 108px;
    }
    
    .qclump {
        display: flex;
        justify-content: space-between;
    }
    
    .qclump > * {
        flex-basis: 45%;
    }
}