/*
-------------CONTENTS-------------
1. Eric Meyers Reset
2. Global Styles
3. Navigation
4. Search
5. Slideshow
6. Section 1
7. Section 2
8. Section 3
9. Footer
10. Page-Specific Styles
    10A. Available Puppies
    10B. Reviews
    10C. Puppy Shopping List
    10D. Our Breeding Dogs
    10E. Puppy Care Tips
11. Mid-/Large-Screen Layout Media Query
12. Navigation
13. Search
14. Section 1
15. Section 2
16. Section 3
17. Footer
18. Page-Specific Styles
    18A. Available Puppies
    18B. Our Breeding Dogs
    18C. Puppy Care Tips
    18D. Reviews
    18E. Puppy Shopping List
    18F. Apply for a Puppy
19. Style Guide
---------------COLOR----------------

background
    light green - #e0fde0
    green - #5f8c56
    gray - #d6e5e0
    sage green - #bad6ca
nav
    mid green - #5f8c56

type
    dark green - #2c580b

link
    purple - #765f6f

buttons/arrows
    purple - #765f6f

footer
    type/logo - light green - #e0fde0
    background - mid green - #5f8c56

mobile nav
    links - yellow - #d2c741

---------------TYPE----------------

font-family: 'Darker Grotesque', sans-serif; Medium 500, Semi-bold 600, Bold 700, Black 900
font-family: 'Flamenco', cursive; Regular 400
font-family: 'Kalam', cursive; Bold 700

font-family: 'Elido', sans-serif; Book 400, Regular 500, Bold 700
font-family: elido-deco-initials, sans-serif; Regular 400
font-family: elido-initials, sans-serif; Regular 400
font-family: elido-upright-italic, sans-serif; Regular 400

*/

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700;900&family=Flamenco&family=Kalam:wght@700&display=swap');

@import url("https://use.typekit.net/dzq5jzz.css");

/************1. ERIC MEYERS RESET**************/
/*http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */

* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; }
/**********************END RESET*************************/


/*******************2. GLOBAL STYLES**********************/

body /*type selector*/ {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    color: #2c580b;
    font-size: 10px;
    text-align: justify;
    background: #d6e5e0;
    background: linear-gradient(0deg, #bad6ca 0%, #d6e5e0 100%); }

main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

section {
    margin-bottom: 1.2em;
}

h1, h2, h3/* selector list */ {
    text-align: center;
    margin: .4em; }

h1 {
    font-family: 'Flamenco', cursive;
    font-size: 4em; }

h2 {
    font-family: Elido, sans-serif;
    font-style: italic; 
    font-size: 2.4em; }

h3 {
    font-family: Elido, sans-serif;
    font-weight: 700; 
    font-size: 2.4em; }

h4 {
    font-size: 2.6em;
    font-style: italic; }

h6 {
    font-family: Kalam, cursive;
    color: #5f8c56;
    font-size: 1em;
    line-height: 1;
    text-align: center; }

p {
    font-size: 1.8em;
    line-height: 1.2;
    margin: .8em 1.25em; }

a {
    text-decoration: none;
    color: #765f6f; 
    font-weight: 700; }

a:visited /*pseudo-class selector*/ {
    color: #d2c741; }

img {
    max-width: 100%;
    height: auto; }

img[src$=".jpg"] {
    border-radius: 1.5rem;
}

img[src$=".jpeg"] {
    border-radius: 1.5rem;
}

img[src$=".png"] {
    border-radius: 1.5rem;
}

main li {
    width: 100%;
    max-width: 425px;
    display: block;
    margin: 0 auto;
    border-radius: 2em; }

article {
        margin: 1em 4em;
        font-size: 1.3em; }

main li {
    font-size: 1.8em;
    list-style-type: circle;
    line-height: 1.2; }

main ul {
    margin: .5em 5em; }

li ul li {
    font-size: 1em; }

.button /*class selector*/ {
    color: #d6e5e0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    background-color: #765f6f;
    font-variant: small-caps;
    width: fit-content;
    margin: 0 auto;
    padding: 0.25em 1em 0.4em;
    border-radius: 10px 10px 10px 10px;
    display: block;
    box-shadow: -5px 5px 10px 0px rgba(210, 199, 65, 0.5), 
                5px -5px 10px 0px rgba(210, 199, 65, 0.5);
}

.button:visited {
    color: #d6e5e0;
}

/***********************3. NAVIGATION**********************/

@-webkit-keyframes bugfix {
    from {padding: 0;}
    to {padding: 0;}   }

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}

header img.logo {
    order: 2;
}

header #mobsearch /*ID selector*/ {
    order: 3;
}

input#toggle {
    display: none; }

input#toggle:checked ~ ul /*subsequent-sibling selector*/ {
    display: block;
    height: auto; }

input#toggle:checked ~ ul li:first-of-type /*pseudo selector*/ {
    border-top: dotted 2px #5f8c56; }

nav label {
    display: block;
    width: 45px;
    /*margin: 0 0.4em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*position: absolute;
    top: 8%;
    left: 6%;*/
}
nav label:hover {
    box-shadow: 0px 7px 10px #5f8c59;
    transform: translateY(-1px); }

nav li a, nav li a:visited {
    display: block;
    color: #5f8c56; }

#flexnav1 /*ID selector*/ {
    display: none;
    color: #5f8c56;
    font-size: 1.1rem;
    order: 1;
    position: absolute; }

nav > ul /*immediate child selector*/ {
    height: 0;
   /* overflow: hidden;*/
    display: block;
    position: absolute;
    width: 80%;
    margin: 0;
    z-index: 1; }

nav li {
    display: block;
    border-bottom: dotted 2px #5f8c56;
    background-color: RGBA(214,229,224,0.9);
    padding: 0 0.25em;
    margin: 0; 
    z-index: 1;
    border-radius: 0; }

nav > ul li ul {
    position: relative;
}

nav > ul li ul li {
    display: none;
    padding-left: 5%;
}

nav > ul li ul li:last-child {
    border: none;
}

nav > ul li:hover ul li {
    display: block;
}

/*************************4. SEARCH*************************/
img[src$="earch.svg"] {
    max-width: 30px;
    height: auto;
}

#lisearch {
    display: none;
}

.searchbox form {
    height: 0;
    display: none;
    /*overflow: hidden;*/
}

.searchbox input[type="checkbox"] {
    display: none;
}

.searchbox label /*descendant selector*/ {
    display: block;
    width: 45px;
    height: auto;
    /*height: 45px;*/
    cursor: pointer;
    user-select: none;
    /*position: relative;*/
    /*top: 8%;
    left: 80%;*/
}

.searchbox label:hover {
    box-shadow: 0px 7px 10px #5f8c59;
    transform: translateY(-1px); 
}

.searchbox input[type=checkbox]:checked ~ form  /*subsequent-sibling selector*/ {
    height: auto;
    display: inline-block;
    overflow: hidden; }

input[name="search"] {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1.2em auto;
    border: solid 2px #5f8c56;
    width: 70%;
    height: 30px;
    border-radius: .5em;
    font-size: 1.6em;
    background-color: #d5e4df;
    opacity: 0.7; }

/*************************5. SLIDESHOW*************************/

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.feature {
    width: 85%;
    margin: 0 auto;
}

.slidecontainer {
  width: 50vw;
  max-width: 250px;
  top: 57%;
  left: 45%;
  height: auto;
  position: absolute;
  perspective: 1000px;
  transform: translate3d(-50%,-50%,600px);
  /* ^^^ 600px for safari hack */
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  /*margin-bottom: 15em;*/ 
}

.slidecontainer h6 {
    font-size: 1.4rem;
    color: #5f8c56;
    display: none;
}

.planet {
    margin: auto;
    width: 100%;
    position: absolute;
    cursor: pointer; 
}

div[style="transform: translate3d(0px, 0px, 1px);"] {
    background-color: #d6e5e0;
    padding: 6%;
    border: solid 1px #C2CAC8;
}

div[style="transform: translate3d(0px, 0px, 1px);"] h6 {
    display: block;
}

div[style="transform: translate3d(0px, 0px, 1px);"] img {
    border-radius: 0;
    border: solid 1px #C2CAC8;
}

/*************************6. SECTION 1*************************/

section.s1 {
    position: relative;
}

section.s1::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 120%;
    bottom: -2%;
    right: -6%;
    left: -6%;
    background-color: #e0fde0;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%); }

.feature {
    position: relative;
    margin: 0 auto;
}

img.featurebg {
    position: relative;
    margin: 0 auto;
    display: block;
}

.featureimg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding: 10%;
    margin: auto;}

img[src*="Nevena"] {
    border-radius: 50%;
    }

/*************************7. SECTION 2*************************/

section.s2 {
    position: relative;
}

section.s2::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 106%;
    right: -6%;
    left: -6%;
    top: -4%;
    background-color: #e0fde0;
    border-radius: 0 0 20px 20px;
}

.s2 .mobbg {
    position: relative;
    background: rgba(224, 253, 224, 0.5);
    border-radius: 15px;
}

.s2 .mobbg::before {
    content: "";
    background: url(../images/Happy%20Havanese%20Web%20Crop.jpg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 15px;
}

.s2 .mobbg p {
    position: relative;
    padding: 0.5em 0;
}

img[alt*="happy"] {
    display: none; }

/*************************8. SECTION 3*************************/

.s3 .mobbg {
    position: relative;
    background: rgba(44, 88, 11, 0.95);
    border-radius: 15px;
}

.s3 .mobbg::before {
    content: "";
    background: url(../images/Puppy%20Health%20Web%20Crop.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    border-radius: 15px;
}

.s3 .mobbg p {
    position: relative;
    padding: 0.5em 0;
    color: #d6e5e0;
}

img[alt*="best"] {
    display: none;
}
/*************************9. FOOTER*************************/

footer {
    background-color: #5f8c56;
    color: #e0fde0;
    text-align: center;
    padding: 1em 0; }

footer * {
    margin: 0;
}

footer p {
    font-size: 1.4em;
    margin-bottom: 1em;
}

footer a, footer a:visited {
    color: #e0fde0;
    font-weight: 500; }

footer img[src$=".svg"] {
    max-width: 50px;
    height: auto;
    width: 8%;}

/**************************************************/
            /* 10. PAGE-SPECIFIC STYLES */
/**************************************************/

/*************************10A. AVAILABLE PUPPIES*************************/
#available .s2 {
    margin-top: 1.4em;
}

.parents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
    margin: 0 auto;
}

.parents h2 {
    width: 100%;
    border-bottom: solid 2px #2c580b;
}

.parent1 {
    flex: 0 1 45%;
}

.parent2 {
    flex: 0 1 45%;
}

.parents img {
    border-radius: 50%;
}

#available img[src*="nadalina"] {
    border-radius: 20%;
}

#available .s2grid p {
    display: block;
    background: rgb(186,214,202);
    background: radial-gradient(circle, rgba(186,214,202,0.3) 0%, rgba(214,229,224,0.5) 100%);
    border: dashed 2px #bad6ca;
    border-radius: 15px;
    padding: 0.5em 1em;
}

#available .s2grid p {
    position: relative;
    width: 85%;
    margin: 3em auto;
}

#available .s2grid p:first-of-type::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e0fde0 url(../images/dog.svg) no-repeat center;
    background-size: 80%;
    position: absolute;
    top: -40px;
    left: 40%;
}

#available .s2grid p:nth-of-type(2)::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e0fde0 url(../images/love.svg) no-repeat center;
    background-size: 80%;
    position: absolute;
    top: -40px;
    left: 40%;
}

.banner {
    background-color: #5f8c56;
    position: relative;
    margin: 0 auto;
    color: rgba(224, 253, 224, 0.8);
}

.banner::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 140%;
    top: -20%;
    left: -6%;
    right: -6%;
    background-color: #5f8c56;
    -webkit-clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

#available .s4 > * {
    margin: 3em auto;
}

#available .s4 p {
    margin-top: 0.4em;
}

/*************************10B. REVIEWS*************************/
#reviews section {
    margin-bottom: 2.2em;
}

#reviews h2 {
    display: block;
    font-weight: 500;
    color: #765f6f;
    border: dotted 2px #765f6f;
    font-size: 1.5em;
    line-height: 1.2;
    padding: 1em 1em;
    background-color: rgba(224, 253, 224, 0.5);
    margin: 1em 2em 2.2em;
    border-radius: 15px; }

#reviews p {
    background-color: rgba(224, 253, 224, 0.5);
    border: dotted 2px #5f8c56;
    border-radius: 15px;
    padding: 0.5em 1em;
    margin: 0.5em 1.25em;
}
/*************************10C. PUPPY SHOPPING LIST*************************/
#shoplist section {
    background-color: rgba(118, 95, 111, 0.15);
    padding: 0.5em 0;
    margin: 0 auto 2.6em;
    border-radius: 15px;
}

#shoplist h6 {
    margin-top: 1em;
}

#shoplist main li {
    list-style-type: square;
    margin-bottom: 0.6em;
}

#shoplist h3 {
    border-bottom: solid 2px;
}

#shoplist h6 {
    text-align: left;
}

#shoplist ul ul {
    margin: 0 1.5em;
}

#shoplist ul ul li {
    display: list-item;
    list-style-type: disc;
}
 /*************************10D. OUR BREEDING DOGS*************************/
    
#breedingdogs img {
    width: 100%;
    max-width: 425px;
    display: block;
    margin: 0 auto; }

#breedingdogs img {
    width: 70%;
}

#breedingdogs section {
    position: relative;
}

#breedingdogs section:nth-of-type(even)::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 102%;
    right: -6%;
    left: -6%;
    top: -1%;
    background-color: #e0fde0;
    border-radius: 20px;
}

#breedingdogs div, #breedingdogs p, #breedingdogs article {
    margin: 0.5em auto;
}

#breedingdogs article {
    width: 70%;
}

#breedingdogs p {
    text-align: center;
    width: 75%;
}

 /*************************10E. PUPPY CARE TIPS*************************/
#puppycaretips img {
    max-width: 100%;
    max-height: 315px;
    display: block;
    margin: 0 auto; }

#puppycaretips h4 {
    text-align: center;
    font-size: 2.2em;
}

#puppycaretips li {
    display: list-item;
}

/*APPLY*/
#apply section.s1::before {
    display: none;
}

/**************************************************/
    /*11. MID-/LARGE-SCREEN LAYOUT MEDIA QUERY*/
/**************************************************/

@media screen and (min-width:975px) {
    
    body {
        text-align: left;
    }
    
    main {
        width: 75%;
        max-width: 1050px;
    }
    
    /*****************12. NAVIGATION*****************/
    header {
        display: flex;
        justify-content: space-between;
    }
    
    header img {
        max-width: 100%;
        height: auto;
    }
    
    header img.logo {
        margin: 0 3em 0 5em;
        order: 1;
    }
    
    #flexnav1 {
        display: flex;
        border: 3px solid #5f8c56;
        border-right: none;
        border-radius: 20px 0 0 20px;
        justify-content: space-evenly;
        align-items: center;
        order: 2;
        position: unset;
    }
    
    nav > input, nav > label {
        display: none;
    }
    
    nav {
        order: 2;
        height: auto;
    }
    
    nav > ul {
        height: auto;
        overflow: visible;
        width: auto;
    }
    
    nav ul {
        text-align: left;
    }
    
    nav li {
        display: block;
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: 1.1rem;
    }
    
    nav li a {
        padding: 0.5em 0.8em;
        text-align: center;
    }
    
     nav ul ul {
        display: none;
        position: relative; }
    
    nav ul li:hover ul {
        position: absolute;
        display: block; 
        background-color: #d5e4df; }
    
    nav > ul > li:hover > a {
        font-weight: 900;
    }
    
    nav > ul li ul li {
        padding-left: 0;
        background-color: #bad6ca;
    }
    
    nav > ul li ul li:first-child {
        border-top: solid 3px #5f8c56;
    }
    nav > ul li ul li:nth-of-type(even) {
        border-top: dotted 2px #5f8c56;
    }

    
    /*****************13. SEARCH*****************/
    header #mobsearch {
        display: none;
    }

    .searchbox label {
        overflow: visible;
        display: inline-block;
        width: 40px;
        height: auto;
        padding: 0.4em 0.4em 0;
        /*top: 9%;
        left: 95%;*/
        margin: 0;
        z-index: 1;
    }
    
    input[name="search"] {
        width: 55%;
    }
    
    /*#space {
        width: 15%; }*/
    
    #lisearch {
        display: inline-block;
    }
    
    /*****************14. SECTION 1*****************/
    
    section.s1::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 50vw;
        height: 152%;
        bottom: -17%;
        right: -17%;
        left: unset;
        background-color: #e0fde0;
        -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 100%, 100% 100%); }
    
    .s1 {
        display: grid;
        margin: 2em auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        align-items: center; 
        justify-items: center; }
    
    .s1 p {
        text-align: center; }
    
    img.featureimg {
        padding: 15%;
    }

    /*****************15. SECTION 2*****************/
    
    section.s2 {
        position: relative;
    }
    
    section.s2::before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 105%;
        right: -17%;
        left: -17%;
        background-color: #e0fde0;
        border-radius: 20px 0 20px 20px;
    }
    
    .s2 {
        display: grid;
        grid-template-columns: 4fr 5fr;
        margin: 6em auto;
        grid-gap: 8em;
        align-items: center; 
        justify-items: center; }
    
    .s2 h3 {
        text-align: left;
        margin-left: 0;
        border-bottom: solid 3px #2c580b;
    }
    
    .s2 .mobbg p {
        margin-left: 0;
        margin-right: 0;
    }
    
    .s2 .mobbg {
        background: transparent;
    }
    
    .s2 .mobbg::before {
        background: transparent;
    }
    img.s2img {
        display: block;
        order: 1;
        max-width: 100%;
        height: auto;
        }
    
    .s2grid {
        order: 2; }
    
    /*****************16. SECTION 3*****************/
    
    .s3 {
        display: grid;
        grid-template-columns: 4fr 5fr;
        margin: 6em auto;
        grid-gap: 8em;
        align-items: center; 
        justify-items: center; }

    .s3 h3 {
        text-align: right;
        margin-left: 0;
        border-bottom: solid 3px #2c580b;
    }
    
    .s3 .mobbg p {
        color: #2c580b;
        margin-left: 0;
        margin-right: 0;
    }
    
    .s3 .mobbg {
        background: transparent;
    }
    
    .s3 .mobbg::before {
        background: transparent;
    }
    img.s3img {
        display: block;
        order: 2;
        max-width: 100%;
        height: auto;
        }
    
    .s3grid {
        order: 1; }
    
    /*****************17. FOOTER*****************/    
    
    footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 1em;
        align-items: center; }
    
    footer p {
        padding: 0;
    }
    
    footer img[src$=".svg"] {
        max-width: 50px;
        height: auto;
        width: auto;}
    
    img[alt*="arrow"] {
        order: 1;
        justify-self: end;
    }
    
    #copy /*id selector*/ {
        order: 3; }
    
    #totoptext {
        order: 2;
        justify-self: start; }
    
    img[alt="facebook"] {
        order: 5;
        justify-self: start; }
    
    #fblink {
        order: 4;
        justify-self: end; }
    
    /**************************************************/
            /* 18. PAGE-SPECIFIC STYLES */
    /**************************************************/
    
     /*****************18A. AVAILABLE PUPPIES*****************/
    #available .s2 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
    
    #available .parents {
        width: 30%;
    }
    
    #available .s2grid {
        display: flex;
        grid-gap: 2em;
    }
    
    .banner {
        display: block;
        margin: 0 auto; }
        
    .banner::before {
        left: -17%;
        right: -17%; }
    
    #available .s3 h3 {
        text-align: center;
        border: none;
    }
    
    #available .s3 p {
        text-align: center;
    }
    
    #available .s4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em 2.5em;
        margin-top: 3em;
    }
    
    #available .s4 > * {
        margin: 0 auto;
    }
    /*****************18B. OUR BREEDING DOGS*****************/

    #breedingdogs > .s1, #breedingdogs > .s2, #breedingdogs > .s3, #breedingdogs > .s4, #breedingdogs > .s5 {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 3%;
        width: 100%;
        align-items: center;
        justify-items: center;
        margin: 5em auto; }
    
    #breedingdogs section:nth-of-type(even)::before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 102%;
        right: -17%;
        left: -17%;
        background-color: #e0fde0;
        border-radius: 20px;
    }
        #breedingdogs img { /*this can be changed*/
        max-width: 425px;
        max-height: 100%;
        display: block;
        margin: 0 auto; }
    
    #breedingdogs section {
        max-height: 350px;
        padding: 2em 0;
    }

        #breedingdogs div, #breedingdogs p, #breedingdogs article {
            margin: 0.5em auto;
        }

        #breedingdogs article {
            width: 100%;
        }

        #breedingdogs p {
            width: 100%;
        }
    
    /*****************18C. PUPPY CARE TIPS*****************/   
    #puppycaretips > .s1 {
        grid-template-columns: 2fr 3fr;
        grid-gap: 4%;
    }
    
    #puppycaretips .s2 h3 {
        text-align: right;
    }
    
    #puppycaretips .s2 {
        grid-template-columns: 3fr 2fr;
    }
    
    #puppycaretips .s2 > img {
        order: 2;
    }
    
    #puppycaretips .s2grid {
        order: 1;
    }
    
    #puppycaretips .s3 h3 {
        text-align: left;
    }
    
    .s5 /*this selector is lost but we don't want to delete it and break something on accident*/ {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; }


    /*****************18D. REVIEWS*****************/    
    
    #reviews h2 {
        display: block;
        font-size: 1.8em;
        padding: 1em 2em;
        margin: 0 6em 2em; }

    #reviews section {
        display: block;
        margin: 2em auto;
    }

    #reviews .reviews {
        display: flex;
    }

    /*****************18E. PUPPY SHOPPING LIST*****************/
    #shoplist section {
        display: block;
    }
    
    #shoplist section.s2::before {
        display: none;
    }
    
    #shoplist h3 {
        text-align: center;
    }
    
    #shoplist section > ul {
        display: grid;
        grid-gap: 2em 4em;
        grid-template-columns: 1fr 1fr; }
    
    #shoplist .heading {
        grid-column: 1 / -1;
        margin: 0;
        text-decoration: underline;
    }
    
    /*****************18F. APPLY FOR A PUPPY*****************/
    #apply section.s1::before {
        display: none;}
}
/*****************END MEDIA QUERY*****************/

/*************************19. STYLE GUIDE*************************/

#styleguide h6 {
    font-size: 1.4rem;
}

.colorbox {
    display: flex; }

.colorbox div {
    width: 100px;
    height: 100px;
    margin: 1em 1em;
    text-align: center; }

#c1 {
    background-color: #e0fde0; }

#c2 {
    background-color: #5f8c56; }

#c3 {
    background-color: #d6e5e0; }

#c4 {
    background-color: #bad6ca; }

#c5 {
    background-color: #2c580b;
    color: #e0fde0; }

#c6 {
    background-color: #765f6f; }

#c7 {
    background-color: #d2c741; }

#styleguide img[alt="lillianastyle"] {
        width: 30%; }